<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo a la izquierda -->
    <a class="navbar-brand" href="https://www.linkedin.com/in/ricardoyalico/">
      <img src="https://i.ibb.co/PsLh5fp0/Albedo-Base-XL-A-vibrantly-buzzing-Apiforme-queen-every-detail-1-Copy.jpg" alt="Logo" width="40" height="40">
    </a>

    <!-- Callbacks en el centro -->
    <div class="mx-auto">
      <a class="nav-link d-inline mx-2" href="#">Inicio</a>
<!--      <a class="nav-link d-inline mx-2" href="#">Callback 2</a>-->
<!--      <a class="nav-link d-inline mx-2" href="#">Callback 3</a>-->
    </div>

    <!-- Botones a la derecha -->
    <div class="d-flex">
<!--      <button class="btn btn-primary me-2">Login</button>-->
<!--      <button class="btn btn-secondary">Sign Up</button>-->
      <button class="btn btn-outline-secondary" (click)="toggleTheme()">🌙/☀️</button>
    </div>

  </div>
</nav>


<router-outlet />
